@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #632EE3;
    --color-secondary: teal;
}

/* custom button override */
.btn-primary {
    @apply bg-gradient-to-r from-green-500 to-green-600 border-none text-white;
}

.btn-primary:hover {
    @apply opacity-99;
}